#!/bin/bash
# created by: charles akalugwu <charles@lieferando.de>
# since: 20.02.2014

sudo mkdir ~/nginx.installation
cd ~/nginx.installation

#start by creating a system user for the nginx service to use (including home directory)
sudo useradd -rm nginx

#installl GNU Development Tools (for compilers, make and stuff like that)
sudo apt-get install build-essential

#get nginx distribution
sudo wget http://nginx.org/download/nginx-1.4.7.tar.gz
sudo tar xvf nginx-1.4.7.tar.gz
sudo rm nginx-1.4.7.tar.gz

#get zlib library
sudo wget http://zlib.net/zlib-1.2.8.tar.gz
sudo tar xvf zlib-1.2.8.tar.gz
sudo rm zlib-1.2.8.tar.gz

#download pcre 8.33
sudo wget ftp://ftp.csx.cam.ac.uk/pub/software/programming/pcre/pcre-8.33.tar.gz
sudo tar xfz pcre-8.33.tar.gz
sudo rm pcre-8.33.tar.gz

#download openssl 1.0.1g
sudo wget http://www.openssl.org/source/openssl-1.0.1g.tar.gz
sudo tar xfz openssl-1.0.1g.tar.gz
sudo rm openssl-1.0.1g.tar.gz

#go into the nginx directory
cd nginx-1.4.7/

#configure the installation with the dependencies
sudo ./configure --with-debug --user=nginx --group=nginx --with-pcre=../pcre-8.33/ --with-zlib=../zlib-1.2.8/ --with-http_ssl_module --with-openssl=../openssl-1.0.1g/

#run make and make install
sudo make
sudo make install
